.footer-wrapper {
    background-color: $veryDarkCyan;
    padding: 200px 0 100px 0;
}

.footer {
    width: 1440px;
    margin: 0 auto;
    padding: 250px auto 50px auto;
    color: #fff;
    &__content {
        display: flex;
    }
    &__info {
        display: flex;
        flex-direction: column;
        flex-basis: 25%;
    }
    &__logo {
        margin: 30px 0;
    }
    &__desc {
        display: flex;
        margin: 10px 0;
    }
    &__desc-icon {
        padding-right: 35px;
    }
    &__phone {
        display: flex;
        margin: 10px 0;
    }
    &__phone-icon {
        padding-right: 35px;
    }
    &__mail {
        display: flex;
        margin: 10px 0;
    }
    &__mail-icon {
        flex-basis: 35px;
    }
    &__menu-left {
        flex-basis: 25%;
    }
}