$pink: hsl(322, 100%, 66%);
$pinkHover:hsl(320,88%,80%);
$veryPaleCyan: hwb(192 92% 0%);
$veryDarkCyan: hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);
$headingFont: "Poppins";
$mainFont: "Open Sans";