@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

@import "variable";
@import "buttons";
@import "header";
@import "cards";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: $mainFont;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

h2 {
    font-size: 3rem;
    font-family: $headingFont!important;
}

h3 {
    font-size: 2rem;
    font-family: $headingFont;
}

@media (max-width: 375px) {
    h2 {
        font-size: 1.6rem;
        font-family: $headingFont!important;
        text-align: center;
        margin: 20px 0;
    }
    
    // h3 {
    //     font-size: 2rem;
    //     font-family: $headingFont;
    // }
}